.skills{
    padding-top: 100px;
}

.skills h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 30%;
    margin: 10px;
    background-color: rgba(0, 2, 7, 0.11);
    border-radius: 10px;
    padding: 15px;
}
.item h4{
    color:  #0866fd;
    text-shadow: 0 0 10px #0866fd;
    text-align: center;
}

.item p{
    color: white;
    font-size: 15px;
}