* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-image: url('../images/Blue.jpg') ;
    background-size: cover;
}

/*Nav Content*/
nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #0866fd;
    text-shadow: 0 0 10px #0866fd;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vh, 3rem);
}

.nav-container .nav-pc {
    display: flex;
}

.nav-container .link {
    display: flex;
    margin-left: auto;
}

.nav-container .link a {
    position: relative;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .link a::before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background: #0866fd;
    transition: 0.3s linear;
}

.nav-container .link a:hover::before {
    width: 100%;
}

.nav-container .link a:hover {
    color: #0866fd;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: -89px;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.3s linear;

}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.3s linear;
}

.dropdown .links a:hover {
    background-color: #0866fd;
}


/*    Media Query*/
@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .link {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container .image  {
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}

@media(max-width:360px) {
    .nav-container .logo{
        font-size: 16px;
    }

    .main-container .image {
        width: 50%;
        height: 30%;
        margin-bottom: 3rem;
    }

    .main-container .content {
        width: 70%;
    }
    .main-container .content h1 {
        font-size: 17px;
        margin: 0;
        padding: 0;
    }
    .main-container .content p {
        font-size: 10px;
    }

    .main-container .content .social-link {
        width: 100%;
        height: 40px;
    }
    .main-container button{
        margin-top: 30px;
    }

}